<div class="mb-2">
  <p class="font-semibold">Degree:</p>
  <p><%= study.name %></p>
</div>
<div class="mb-2">
  <p class="font-semibold">Institution:</p>
  <p><%= study.school_name %></p>
</div>
<div class="mb-2">
  <p class="font-semibold">Year:</p>
  <p>2015</p>
</div>