<div class="flex flex-row" id="main">
  <div class="bg-gray-800 p-6 rounded-lg shadow-md mb-3" id="<%= dom_id(@user) %>">
    <h1 class="text-3xl font-semibold mb-4"><%= @user.full_name %></h1>
    <p class="text-gray-400 mb-4">Fullstack Developer</p>
    <p class="text-gray-400 mb-4"><%= @user.introduction %></p>
    <hr class="my-4 border-gray-700">
  </div>
  <%= render partial: 'users/contact', locals: { user: @user }  %>
</div>